
<form method="post" action="{{ path('app_admin_news_category_delete', {'id': news_category.id}) }}" onsubmit="return confirm('Quer mesmo apagar esse item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news_category.id) }}">
    <button class="btn btn-danger ms-3 text-white">Delete</button>
</form>
