<form method="post" action="{{ path('app_admin_product_property_delete', {'id': product_property.id}) }}" onsubmit="return confirm('Quer mesmo apagar esse item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_property.id) }}">
    <button class="btn btn-danger ms-3 text-white">Delete</button>
</form>
